// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "~select2";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Define standard variables and values for website */
$bgcolor: rgb(243, 233, 238);
$textcolor: black;
$fontsize: 18px;

//@import 'bootstrap/bootstrap';

/* Use the variables */
*{
    padding: 0;
    margin: 0;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: $bgcolor;
    //  color: $textcolor;
    //  font-size: $fontsize;
    direction: rtl;
    text-align: right;
}

a{
    text-decoration: none;


}

@include media-breakpoint-down(md) {
    #home{
        margin-right: 20px;
    }

    #searchForm{
        justify-content: center;

        background-color: lightgoldenrodyellow;
    }

    #searchForm input,button{
        margin-top: 10px;
    }
    #searchForm button{
        margin-bottom: 10px;
    }
    .card{
        margin-top: 10px;
    }


}
@include media-breakpoint-down(sm) {
    aside{
        margin-top: 40px;
    }
}


.services span{
    font-size: 11px;
}

body{
    background-color:purple;
}
